img.feed-img {
	height: 100px;
	width: 100px;
	padding: 5px;
	object-fit: cover;
	border-radius: 8%;
}

.test {
	height: 100%;
}

.listing-item-wrapper {
	background: white;
	margin-bottom: 10px;
}

.feed-index {
	width: 400px;
	position: absolute;
	right: 89px;
	top: 117px;
	max-height: 80vh;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0px 2px 2px 0px #c7c7c7;
	font-family: Arial;
}

.feed-header-title {
	background: linear-gradient(45deg, #2cb5e8, #47cf73);
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 19px;
}

h1.feed-title {
	display: flex;
	align-items: center;
	font-size: 30px;
	font-family: "HelveticaNeue-UltraLight";
	margin-left: 20px;
	text-transform: capitalize;
}

p.feed-date {
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.feed-data {
	display: flex;
}

.feed-line {
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	width: 300px;
}

.date-feed {
	display: flex;
	justify-content: flex-end;
}

.feed-index-wrapper {
	cursor: pointer;
}

.feed-index-wrapper:hover {
	background-color: #4d90fe;
	color: white;
}

.feed-index-item {
	justify-content: space-between;
	min-height: 80px;
	padding: 10px 10px;
}

.feed-index-item:hover p,
img {
	color: white;
}

.feed-index-item img {
	border: 2px solid white;
}
