nav.navbar-container {
	position: absolute;
	z-index: 5;
	top: 48px;
	background: white;
	margin: 0 auto;
	width: 90vw;
	height: 60px;
	left: 5vw;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 2px 2px 0px #c7c7c7;
}

.navbar-container button {
	font-family: "Arial";
	font-weight: 700;
	font-size: 12px;
	height: 40px;
	width: 140px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

.add-freebie-button {
	background: #4d90fe;
	border: 1px solid white;
	box-shadow: 3px 4px 0px 1px #3C93D5;
	outline: none;
}

.add-freebie-button:active {
	background-color: #4d90fe;
	box-shadow: 3px 3px #3C93D5;
	transform: translateY(4px);
}

.add-freebie-button:hover {
	background: #3079ed;
	cursor: pointer;
}

.add-freebie-plus {
	font-size: 20px;
	padding-right: 5px;
}

.add-freebie-text {}

.auth-button {
	background: #eb4d4b;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 4px 0px 0px #CE3323;
	border: 1px solid white;
	outline: none;
}

.auth-button:hover {
	background: #d63916;
	cursor: pointer;
}

.auth-button:active {
	background-color: #eb4d4b;
	box-shadow: 3px 3px #CE3323;
	transform: translateY(4px);
}

.user-profile-container p {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-size: 20px;
	margin-left: 11px;
	text-transform: capitalize;
	color: white;
}

.user-profile-container {
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
    background: linear-gradient(45deg, #2cb5e8, #47cf73);
    box-shadow: 3px 4px 0px 0px #47cf73;
    padding: 1px 10px;
    outline: none;
}

.user-profile-container:active {
	background-color: #3acc80;
	box-shadow: 3px 3px #29bf71;
	transform: translateY(4px);
}

.user-profile-container img {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	border: 1px solid white;
}

a.auth-button-link {
	text-decoration: none;
}


.logo{
	font-family: 'Monoton', cursive;
	font-size: 31px;
	color: red;
}



