nav.navbar-container {
    position: absolute;
    z-index: 5;
    top: 60px;
    background: white;
    margin: 0 auto;
    width: 90vw;
    height: 50px;
    left: 5vw;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
