.user-profile-modal-container {
    position: absolute;
    background: white;
    top: 0px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    box-shadow: 0px 2px 2px 0px #c7c7c7;
}

.user-profile-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("./user_profile_background.jpg");
    background-size:auto;
    align-items: center;
}

.user-profile-links-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    font-family: Roboto;
    color: black;
}

.user-profile-list-wrapper img {
    width: 100%;
    height: 258px;
}

ul.user-profile-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.user-profile-list>* {
    flex: 0 0 20%;
}

li.user-listing-item {
    margin: 15px 12px;
    width: 305px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 0px rgba(0,0,0,0.15);
}

.user-listing-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    background-color: #FFFFFF;
    width: 100%;
    height: 40px;
}

.user-profile-header img {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
    margin-top: 22px;
    border: 3px solid white;
}

.user-buttons-container {
    display: flex;
    justify-content: center;
}

.user-profile-header h1 {
    text-align: center;
    margin-top: 14px;
    font-size: 32px;
    text-transform: capitalize;
    font-family: Roboto;
    padding-bottom: 20px;
    color: white;
    font-weight: 300;
}


button.user-listing-delete {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-bottom: 10px;
}

.user-listing-info p {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    text-align:center;
    font-family: Roboto;
}

.user-profile-links-container a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.user-button-close-container {
    position: absolute;
    right: 5px;
    top: 12px;
}

.user-button-close-container button {
    color: black;
    font-size: 15px;
}

.user-button-close-container button:hover {
    color: red;
}

.user-profile-listings-wrapper {
    height: calc(100% - 331px);
    overflow: scroll;
    background: #F8F8FA;
}

.current-listing-link {
    padding: 7px;
}

.past-listing-links {
    padding: 7px;
}


